body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 50px 0 30px;
  color: #4B088A;
  text-shadow: 3px 3px #D8CEF6;
}

h2 {
  font-weight: 800;
  padding-bottom: 20px;
}

p {
  font-size: 20px;
}

span {
  font-weight: 700;
}

#page-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.database-info-section,
.user-info-section,
.signup-section {
  padding: 20px 0;
}

.database-info-section p,
.user-info-section p {
  padding-left: 20px;
}

.signup-section h3#signup-request {
  padding-bottom: 5px;
}

.signup-section h3#signup-request,
.signup-section p#error {
  color: #A61C1C;
  font-weight: 600;
}

/******************** Media Query *********************/

/* Responsive - Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .database-info-section,
  .user-info-section,
  .signup-section {
    text-align: center;
  }

  .database-info-section p,
  .user-info-section p {
    padding-left: 0px;
  }
}

/* Responsive - Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }

  .database-info-section,
  .user-info-section,
  .signup-section {
    padding: 30px;
  }
}
