body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 50px 0;
}

h2 {
  font-weight: 800;
  padding: 30px 0;
}

p {
  font-size: 20px;
  padding-left: 20px ;
}

span {
  font-weight: 700;
}

#page-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.signup-section {
  margin: 20px auto;
}

.signup-section h3#signup-request,
.signup-section p#error {
  color: #A61C1C;
  font-weight: 600;
}

.signup-section p#error,
.signup-section p#signup-accepted,
.signup-section p#signup-denied,
.signup-section p#emails-number-updated {
  padding-left: 0;
}
/******************** Media Query *********************/

/* Responsive - Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  h2, h3, p, .signup-section {
    text-align: center;
  }
}
